 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');


:root {
  --bg-color: #E6E6DE;
  --main-green: #20E864;
  --main-blue: #2251F8;
  --main-red: #EE4813;
}
 
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:rgba(137, 137, 137, 1);
}

button{
    color: black;
}

.titles{
    font-family: 'Courier New', sans-serif;
/*    color:#cbff70;*/
color: var(--main-blue);
/*    color: #1e1e1f;*/

}


#pies {
    width: 80%;
    margin-left: 12%;
}

#pie {
    width: 30%;
    display: inline;
    float: left;
}


.header{
    font-family: 'Lexend Deca', sans-serif;
    color: white;
}


#landing-body-div{
    padding-top: 1vh;
/*    font-family: 'JetBrains Mono', monospace;*/
font-family: "Lexend Deca", sans-serif;
/*    color: white;*/
color: #1e1e1f;
    font-size: 170%;
    line-height: 1.4em;
    text-align: center;
}

#landing-body-div a {
/*    color: #cbff70;*/
color: var(--main-blue);
    border-bottom: 1px dotted #cbff70;
    border-bottom: 1px dotted var(--main-blue);
}

#landing-body-div a:hover {
    color: #ff316a;
    border-bottom: 1px dotted #cbff70;
    border-bottom: 1px dotted  #ff316a;
}
#header-div {
    padding-top: 1vh;
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-size: 240%;
    line-height: 1.4em;
    text-align: center;
}


#techspecs { display:none }

body {
    margin: 0px;
    width: 100vw;
    height: 100dvh;
    font-family: 'Courier New', monospace;
    overflow: hidden;
    touch-action: manipulation;
/*background: var(--bg-color);*/
background: white;
color: #1e1e1f;

}


#main-body {
/*    width: 100%;*/
/*    margin-left: 10%;*/
width: 100%;
padding-top: 5vh;
/*padding-right: 10vh;*/
/*    margin-right: 20%;*/
}



#main-body p, h1, h2, h3 {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

h2 {color: rgb(0,0,200)}

fieldset { border:0; 
width: 70%;
margin-left: 15%;
text-align: center;}  
/*label,select,.ui-select-menu { 
    float: left; 
    margin-right: 10px; }*/
/*select { width: 200px; }    */
.wrap span.ui-selectmenu-item-header,
.wrap ul.ui-selectmenu-menu li a { 
    text-decoration: underline !important; 
    border: none;
     font-family: 'Lexend Deca', sans-serif;
}

label, select {
    background-color: transparent;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.5vh;

/*    line-height: 7vh;*/
}

p {font-size: 2.5vh;}


select {
    border-bottom: dotted 2px rgb(0,100,0);
    color: rgb(0,100,0);
}


#landing-body{
    overflow: scroll;
}

#landing-body-div {
    font-size: 120%;
}



